# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/*/settings*.php*
sites/default/drushrc.php

.DS_Store
._*
# Ignore sass-cache files.
*.sass-cache*
Gemfile.lock
*.zip
.idea
